[Unit]
Description="steadybit extension host"
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/steadybit/extension-host/extension-host
EnvironmentFile=/etc/steadybit/extension-host
User=steadybit
Group=steadybit
SuccessExitStatus=0 143
Restart=on-failure
RestartSec=5s
StandardOutput=append:/var/log/steadybit-extension-host.log
StandardError=append:/var/log/steadybit-extension-host.log
AmbientCapabilities=CAP_SYS_ADMIN CAP_SYS_CHROOT CAP_SYS_RESOURCE CAP_SYS_BOOT CAP_NET_RAW CAP_SYS_TIME CAP_SYS_PTRACE CAP_KILL CAP_NET_ADMIN CAP_DAC_OVERRIDE CAP_SETUID CAP_SETGID CAP_AUDIT_WRITE

[Install]
WantedBy=multi-user.target
